body {
    background-color: rgb(74, 221, 226);
    color: rgb(6, 5, 7);
    font-family: "Source Code Pro", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
}

button {
    background-color: blueviolet;
    color: rgb(236, 232, 232);
    font-family: "Source Code Pro", monospace;
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
main{
    text-align: center;
    max-width: 70%;
}
img{
    max-width: 70%;
}